<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @developer.surname %>
</p>

<p>
  <strong>Project:</strong>
  <%= @developer.project_id %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
