<%= form_with(model: mivacuna) do |form| %>
  <% if mivacuna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mivacuna.errors.count, "error") %> prohibited this mivacuna from being saved:</h2>

      <ul>
        <% mivacuna.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :antigenos %>
    <%= form.number_field :antigenos %>
  </div>

  <div class="field">
    <%= form.label :lipidos %>
    <%= form.number_field :lipidos %>
  </div>

  <div class="field">
    <%= form.label :conservantes %>
    <%= form.number_field :conservantes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
