<p id="notice"><%= notice %></p>

<h1>Mivacunas</h1>

<table>
  <thead>
    <tr>
      <th>Antigenos</th>
      <th>Lipidos</th>
      <th>Conservantes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mivacunas.each do |mivacuna| %>
      <tr>
        <td><%= mivacuna.antigenos %></td>
        <td><%= mivacuna.lipidos %></td>
        <td><%= mivacuna.conservantes %></td>
        <td><%= link_to 'Show', mivacuna %></td>
        <td><%= link_to 'Edit', edit_mivacuna_path(mivacuna) %></td>
        <td><%= link_to 'Destroy', mivacuna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mivacuna', new_mivacuna_path %>
