<p id="notice"><%= notice %></p>

<h1>Mivacunas</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @mivacunas.each do |mivacuna| %>
      <tr>
        <td><%= mivacuna.id %></td>

        <td><%= link_to 'Mostrar', mivacuna %></td>
        <td><%= link_to 'Editar', edit_mivacuna_path(mivacuna) %></td>
        <td><%= link_to 'Eliminar', mivacuna, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva vacuna', new_mivacuna_path %>
<%= link_to 'Atrás', developers_path %>
