<h1>Vacunas</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Antigenos</th>
      <th>Lipidos</th>
      <th>Conservantes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @prueba_vacuna.each do |prueba_vacuna| %>
      <tr>
        <td><%= prueba_vacuna.id %></td>
        <td><%= prueba_vacuna.antigenos %></td>
        <td><%= prueba_vacuna.lipidos %></td>
        <td><%= prueba_vacuna.conservantes %></td>
        <td><%= link_to 'Mostrar', prueba_vacuna %></td>
        <td><%= link_to 'Editar', edit_project_path(prueba_vacuna) %></td>
        <td><%= link_to 'Destruir', prueba_vacuna, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacuna', new_project_path %>