<%= form_with(model: diario) do |form| %>
  <% if diario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diario.errors.count, "error") %> prohibited this diario from being saved:</h2>

      <ul>
        <% diario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_paciente %>
    <%= form.text_field :nombre_paciente %>
  </div>

  <div class="field">
    <%= form.label :apellidos_paciente %>
    <%= form.text_field :apellidos_paciente %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.text_field :fecha %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.text_field :dni %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
