<p id="notice"><%= notice %></p>

<h1>Diarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha</th>
      <th>DNI</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @diarios.each do |diario| %>
      <tr>
        <td><%= diario.nombre_paciente %></td>
        <td><%= diario.apellidos_paciente %></td>
        <td><%= diario.fecha %></td>
        <td><%= diario.dni %></td>
        <td><%= link_to 'Mostrar', diario %></td>
        <td><%= link_to 'Editar', edit_diario_path(diario) %></td>
        <td><%= link_to 'Eliminar', diario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva vacuna', new_diario_path %> |
<%= link_to 'Atrás', developers_path %>
