<p id="notice"><%= notice %></p>

<h1>Diarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre paciente</th>
      <th>Apellidos paciente</th>
      <th>Fecha</th>
      <th>Dni</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diarios.each do |diario| %>
      <tr>
        <td><%= diario.nombre_paciente %></td>
        <td><%= diario.apellidos_paciente %></td>
        <td><%= diario.fecha %></td>
        <td><%= diario.dni %></td>
        <td><%= link_to 'Show', diario %></td>
        <td><%= link_to 'Edit', edit_diario_path(diario) %></td>
        <td><%= link_to 'Destroy', diario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Atrás', developers_path %>
